@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavMan
@using System.Text

<main class="form-signin w-100 m-auto">
    <img class="mb-4" src="/LogoEditable.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Enkel debugger</h1>

    <div class="form-floating">
        <input class="form-control" id="sessionId" @bind-value="_sessionId">
        <label for="floatingInput">Session Id</label>
    </div>

    <button class="btn btn-primary w-100 mt-4" @onclick="StartScan">Scan a crash</button>
    <button class="btn btn-primary w-100 mt-2" @onclick="JoinSession">Join session</button>
</main>

@code {
    public void StartScan()
    {
        NavMan.NavigateTo($"/Scan/{_sessionId}");
    }

    public void JoinSession()
    {
        NavMan.NavigateTo($"/Session/{_sessionId}");
    }

    private const int CodeLength = 5;
    private const string CodeAlphabet = "23456789ABCDEFGHJKMNPQRSTUVWXYZ";

    private string _sessionId = Encoding.UTF8.GetString(Guid.NewGuid().ToByteArray().Select(x => (byte)CodeAlphabet[x % CodeAlphabet.Length]).Take(CodeLength).ToArray());
}
