<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="./goldenlayout-base.css" />
    <link rel="stylesheet" href="./goldenlayout-dark-theme.css" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EnkelCrashDecoder.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="d-flex dock-container align-items-center bg-body-tertiary">
    <Routes />
    <script src="./jquery-3.7.1.min.js"></script>
    <script src="./goldenlayout.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
